<!doctype html>
<html lang="en" lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--libreria de Bootstrap -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <!--icono del titulo-->
    <link rel="shortcut icon" href="../../resources/img/logo_blanco_nav.png" type="image/x-icon">
    <!--archivo css-->
    <link rel="stylesheet" href="../../resources/css/private.css">
    <title>Makers</title>
</head>
<!--contenido visual-->

<body>

    <main class="window-container">
        <aside>
            <!--sidebar mobile y desktop renderizado-->
            <div id="render-sidebar"></div>
        </aside>
        <!--contenedor del section, abarca buscador, y dashboard o inicio-->
        <div class="container">            
            <!-- contenedor para renderizar el buscador -->
            <div class="row parent-search" id="render-search">                
                <span id="width"></span>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="container parent-container">
                        <div class="graph-container grap1">AAA 1</div>
                        <div class="graph-container grap2">AAA 2</div>
                        <div class="graph-container grap3">AAA 3</div>
                        <div class="graph-container grap4">AAA 4</div>
                        <div class="graph-container grap5">AAA 5</div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--Bundle con Popper, archivos js al final para optimiar los tiempos de carga de la página -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/private/render.js"></script>
</body>

</html>