<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/estilo.css">
    <!--icono del navegador-->
    <link rel="shortcut icon" href="../../resources/img/logo_blanco_nav.png" type="image/x-icon">
    <title>Makers</title>
</head>

<body>
    <!--contenido renderizado (header), !importante id="render-header"-->
    <header id="render-header"></header>


    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/public/iniciofinal.js"></script>
    <script src="../../controllers/public/render.js"></script>
</body>

</html>