<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/estilo.css">
    <title>Hello, world!</title>
</head>

<body class="header-test">
    <nav class="nav">
        <div class="logo">
            <img src="../../resources/img/logo_blanco.png" alt="logo">
        </div>
        <div class="opciones">
            <ol>
                <li><a href="">INICIO</a></li>
                <li><a href="">PRODUCTOS</a></li>
                <li><a href="">SERVICIOS</a></li>
                <li><a href="">RESERVAR</a></li>
            </ol>
            <a href="">INICIAR SESION</a>
        </div>
        <div class="menu-hamgurguesa">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="curva">

        </div>
    </nav>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>