<!doctype html>
<html lang="en" lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--libreria de Bootstrap -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <!--icono del titulo-->
    <link rel="shortcut icon" href="/resources/img/logo_blanco_nav.png" type="image/x-icon">
    <title>Makers</title>
    <link rel="stylesheet" href="../../resources/css/estilo.css">
</head>
<!--contenido visual-->
<body>

    <!--Contenedor de la página.-->

        <!--Diseño de header junto con el contenido-->
        <header> 
            <div class="logo"><a href="#"><img src="../../resources/img/logo_blanco.png" alt=""></a></div>
            <ul class="links">
                <li><a href="index.html">INICIO</a></li>
                <li><a href="reservacion.html">RERSERVAS</a></li>
                <li><a href="productos.html">PORDUCTOS</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
            </ul>
            <a href="login.html" class="action_btn"> INICIAR SESION </a>
            .
        </header>
        <main class="">

        </main>
        <footer>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#393534" fill-opacity="2" d="M0,192L120,176C240,160,480,128,720,106.7C960,85,1200,75,1320,69.3L1440,64L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
        </footer>


    <!--Bundle con Popper, archivos js al final para optimiar los tiempos de carga de la página -->
    <script src="/resources/js/bootstrap.bundle.min.js"></script>
</body>

</html>