<!doctype html>
<html lang="en" lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--libreria de Bootstrap -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <!--icono del titulo-->
    <link rel="shortcut icon" href="../../resources/img/logo_blanco_nav.png" type="image/x-icon">
    <link rel="stylesheet" href="../../resources/css/servicios_productos.css">
    <title>Makers</title>
</head>
<!--contenido visual-->

<body>
    <!-- Menu y encabezado del sitio-->
    <header></header>
    <!--Contenido del sitio web-->
    <main class="container">
        <!-- breaks dobles para imitar figma-->
        <br>
        <br>
        <div>
            <!--Titulo del contenido-->
            <h4 class="text-center fw-bolder">DESTACADOS</h4>
            <!-- Otro break por figma-->
            <br>
            <!-- Carusel que presenta los servicios destacados-->
            <div id="carouselproductos" class="carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Demostracion 1, es la que se considera principal o en la que se inicia-->
                    <div class="carousel-item active">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card text-center">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084642926224744488/p174_hard-matt.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cera para el cabello</h5>
                                <p class="card-text">$20.00</p>
                                <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                            </div>
                        </div>
                    </div>
                    <!-- Demostracion 2-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card text-center">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084642926224744488/p174_hard-matt.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cera para el cabello</h5>
                                <p class="card-text">$22.00</p>
                                <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                            </div>
                        </div>
                    </div>
                    <!-- Demostracion 3-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card text-center">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084642926224744488/p174_hard-matt.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cera para el cabello</h5>
                                <p class="card-text">$25.00</p>
                                <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                            </div>
                        </div>
                    </div>
                    <!-- Demostracion 4-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card text-center">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084642926224744488/p174_hard-matt.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cera para el cabello</h5>
                                <p class="card-text">$26.00</p>
                                <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                            </div>
                        </div>
                    </div>
                    <!-- Demostracion 5-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card text-center">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084642926224744488/p174_hard-matt.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cera para el cabello</h5>
                                <p class="card-text">$28.00</p>
                                <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                            </div>
                        </div>
                    </div>
                    <!-- Demostracion 6-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card text-center">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084642926224744488/p174_hard-matt.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cera para el cabello</h5>
                                <p class="card-text">$30.00</p>
                                <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                            </div>
                        </div>
                    </div>
                    <!-- Demostracion 7-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card text-center">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084642926224744488/p174_hard-matt.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cera para el cabello</h5>
                                <p class="card-text">$34.00</p>
                                <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                            </div>
                        </div>
                    </div>
                    <!-- Demostracion 8-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card text-center">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084642926224744488/p174_hard-matt.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cera para el cabello</h5>
                                <p class="card-text">$35.00</p>
                                <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                            </div>
                        </div>
                    </div>
                    <!-- Demostracion 9-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card text-center">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084642926224744488/p174_hard-matt.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                            <div class="card-body">
                                <h5 class="card-title">Cera para el cabello</h5>
                                <p class="card-text">$40.00</p>
                                <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- boton para regresar en el carrusel-->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselproductos"
                    data-bs-slide="prev">
                    <span class="" aria-hidden="true">
                        <svg width="6vh" height="6vh" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M13.26 15.53L9.73999 12L13.26 8.46997" stroke="#292D32" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <!-- boton para avanzar el carrusel -->
                <button class="carousel-control-next" type="button" data-bs-target="#carouselproductos"
                    data-bs-slide="next">
                    <span class="" aria-hidden="true">
                        <svg width="6vh" height="6vh" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.74 15.53L14.26 12L10.74 8.46997" stroke="#292D32" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div>
            <!-- breaks dobles para imitar figma-->
            <br>
            <br>
            <!--Titulo del contenido-->
            <h4 class="text-center fw-bolder">PRODUCTOS</h4>
            <!-- Otro break por figma-->
            <br>
            <div class="row row-cols-3 justify-content-evenly">
                <div class="col-sm-4">
                    <!-- Tester producto 1-->
                    <div class="card m-2 text-center">
                        <a href="../../views/public/detalle.html">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084706015834021948/Cera-Gel-Para-Cabello-Barber-Style-200-G-1-21597.png?width=418&height=418"
                                    class="d-block w-75" alt="..."> </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Cera para el cabello</h5>
                            <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- Tester producto 2-->
                    <div class="card m-2 text-center">
                        <a href="../../views/public/detalle.html">
                            <div class="img-wrapper"><img
                                src="https://media.discordapp.net/attachments/1084642883610611732/1084706175435673610/1568022473-414lNKdb9uL.png?width=418&height=418"
                                class="d-block w-75" alt="..."> </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Cera para el cabello</h5>
                            <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- Tester producto 3-->
                    <div class="card m-2 text-center">
                        <a href="../../views/public/detalle.html">
                            <div class="img-wrapper"><img
                                src="https://media.discordapp.net/attachments/1084642883610611732/1084706277164339252/61V1SZPLzDL.png?width=418&height=418"
                                class="d-block w-75" alt="..."> </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Cera para el cabello</h5>
                            <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- Tester producto 4-->
                    <div class="card m-2 text-center">
                        <a href="../../views/public/detalle.html">
                            <div class="img-wrapper"><img
                                src="https://media.discordapp.net/attachments/1084642883610611732/1084706392541233152/image.png?width=418&height=418"
                                class="d-block w-75" alt="..."> </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Cera para el cabello</h5>
                            <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- Tester producto 5-->
                    <div class="card m-2 text-center">
                        <a href="../../views/public/detalle.html">
                            <div class="img-wrapper"><img
                                src="https://media.discordapp.net/attachments/1084642883610611732/1084706531217518682/00750619250604L.png?width=418&height=418"
                                class="d-block w-75" alt="..."> </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Cera para el cabello</h5>
                            <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- Tester producto 6-->
                    <div class="card m-2 text-center">
                        <a href="../../views/public/detalle.html">
                            <div class="img-wrapper"><img
                                src="https://media.discordapp.net/attachments/1084642883610611732/1084642926224744488/p174_hard-matt.png?width=557&height=418"
                                class="d-block w-75" alt="..."> </div>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Cera para el cabello</h5>
                            <a href="#" class="btn btn-dark rounded-pill w-50">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </main>
    <footer class="page-footer"></footer>
    <!--Bundle con Popper, archivos js al final para optimiar los tiempos de carga de la página -->
    <script src="../../resources/js/jquery-3.6.4.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../controllers/public/productos.js"></script>
</body>

</html>