<!doctype html>
<html lang="en" lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--libreria de Bootstrap -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <!--icono del titulo-->
    <link rel="shortcut icon" href="../../resources/img/logo_blanco_nav.png" type="image/x-icon">
    <link rel="stylesheet" href="../../resources/css/estilo.css">
    <title>Makers</title>
</head>
<!--contenido visual-->

<body>
    <!-- Menu y encabezado del sitio-->
    <header id="render-header"></header>
    <!-- Cuerpo del documento -->
    <main class="container container-servicios">
        <!-- breaks dobles para imitar figma-->
        <br>
        <br>
        <!-- Contenedor para los servicios destacados-->
        <div>
            <!--Titulo del contenido-->
            <h4 class="text-center fw-bolder">DESTACADOS</h4>
            <!-- Otro break por figma-->
            <br>
            <!-- Carusel que presenta los servicios destacados-->
            <div id="carouseldestacados" class="carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Demostracion 1, es la que se considera principal o en la que se inicia-->
                    <div class="carousel-item active">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084645664190890095/barber-services-1.png?width=743&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 2-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084645664190890095/barber-services-1.png?width=743&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 3-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084645664190890095/barber-services-1.png?width=743&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 4-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084645664190890095/barber-services-1.png?width=743&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 5-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084645664190890095/barber-services-1.png?width=743&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 6-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084645664190890095/barber-services-1.png?width=743&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 7-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084645664190890095/barber-services-1.png?width=743&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 8-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084645664190890095/barber-services-1.png?width=743&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 9-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/1084642883610611732/1084645664190890095/barber-services-1.png?width=743&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                </div>
                <!-- boton para regresar en el carrusel-->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouseldestacados"
                    data-bs-slide="prev">
                    <span class="" aria-hidden="true">
                        <svg width="6vh" height="6vh" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M13.26 15.53L9.73999 12L13.26 8.46997" stroke="#292D32" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <!-- boton para avanzar el carrusel -->
                <button class="carousel-control-next" type="button" data-bs-target="#carouseldestacados"
                    data-bs-slide="next">
                    <span class="" aria-hidden="true">
                        <svg width="6vh" height="6vh" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.74 15.53L14.26 12L10.74 8.46997" stroke="#292D32" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Contenedor para los cortes de pelo ofrecidos-->
        <div>
            <!-- Breaks dobles para obtener un diseño más limpio y similar al figma-->
            <br>
            <br>
            <!--Titulo del contenido-->
            <h4 class="text-center fw-bolder">CORTES</h4>
            <!-- Otro break para emular figma-->
            <br>
            <!-- Carusel que presenta los servicios de corte de pelo-->
            <div id="carouselcorte" class="carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Demostracion 1-->
                    <div class="carousel-item active">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/615023592689762314/1084609309150814238/best-mens-haircuts-featured-image.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 2-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/615023592689762314/1084609309150814238/best-mens-haircuts-featured-image.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 3-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/615023592689762314/1084609309150814238/best-mens-haircuts-featured-image.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 4-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/615023592689762314/1084609309150814238/best-mens-haircuts-featured-image.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 5-->
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/615023592689762314/1084609309150814238/best-mens-haircuts-featured-image.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 6-->
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/615023592689762314/1084609309150814238/best-mens-haircuts-featured-image.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 7-->
                    <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/615023592689762314/1084609309150814238/best-mens-haircuts-featured-image.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 8-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/615023592689762314/1084609309150814238/best-mens-haircuts-featured-image.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                    <!-- Demostracion 9-->
                    <div class="carousel-item">
                        <!-- Imagen temporal para demostrar el funcionamiento-->
                        <div class="card">
                            <div class="img-wrapper"><img
                                    src="https://media.discordapp.net/attachments/615023592689762314/1084609309150814238/best-mens-haircuts-featured-image.png?width=557&height=418"
                                    class="d-block w-100" alt="..."> </div>
                        </div>
                    </div>
                </div>
                <!-- boton para regresar en el carrusel hehe-->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselcorte"
                    data-bs-slide="prev">
                    <span class="" aria-hidden="true">
                        <svg width="6vh" height="6vh" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M13.26 15.53L9.73999 12L13.26 8.46997" stroke="#292D32" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <!-- boton para avanzar el carrusel -->
                <button class="carousel-control-next" type="button" data-bs-target="#carouselcorte"
                    data-bs-slide="next">
                    <span class="" aria-hidden="true">
                        <svg width="6vh" height="6vh" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.74 15.53L14.26 12L10.74 8.46997" stroke="#292D32" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Division para las reservas-->
        <div>
            <!-- otro break por figma-->
            <br>
            <br>
            <h4 class="text-center fw-bolder">RESERVAR</h4>
            <!-- break para figma-->
            <br>
            <!--Container para acceder a las reservas-->
            <div class="container-fluid text-center">
                <div class="row justify-content-evenly">
                    <div class="col-sm-4">
                        <div class="container text-center bg-light">
                            <p class="text-start"> Local de San Salvador <a href="reservacion.html"
                                    class="btn btn-dark ms-5">Reservar</a></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="container text-center bg-light">
                            <p class="text-start"> Local de Santa Tecla <a href="reservacion.html"
                                    class="btn btn-dark ms-5">Reservar</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

    </main>
    <footer class="page-footer"></footer>
    <!--Bundle con Popper, archivos js al final para optimiar los tiempos de carga de la página -->
    <script src="../../resources/js/jquery-3.6.4.min.js"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../controllers/public/servicios.js"></script>
    <script src="../../controllers/public/iniciofinal.js"></script>
    <script src="../../controllers/public/render.js"></script>
</body>

</html>